@mixin flex ($align-items: stretch, $justify-content: flex-start, $flex-wrap: nowrap, $inline: false) {
  display: if($inline, inline-flex, flex);
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}

@mixin flex-v ($align-items: flex-start, $justify-content: stretch, $flex-wrap: nowrap) {
  @include flex($align-items, $justify-content, $flex-wrap);
  flex-direction: column;
}
